* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e4e4e4;
}

a{
  text-decoration: none;
  color: #ffffff;
}

.cards {
  background-color: #ffffff;
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.home{
  width: 700px;
  margin: 10px auto;
  border: 1px solid red;  
}


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  div {
    margin-bottom: 5px;
  }
}


.modalMask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3F51B5;
  
}

.modalBody {
  width: 50%;
  max-width: 500px;
  background: #ffffff;
  border-radius: 20px;
  position: relative;
  border: 1px solid #3F51B5;
}

.modalHeader {
  padding: 30px;
  border-bottom: 2px solid #3F51B5;
  text-align: center;
}

.heading {
  margin-bottom: 20px;
}

.modalFooter {
  padding: 30px;
  text-align: center;
}

.modalFooter h2 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}


.closeButton {
  position: absolute;
  right: 3px;
  top: 5px;
  background: none;
  &:hover{
    cursor: pointer;
  }
}


